<div class="relative ml-auto bg-white-200 min-h-screen z-30 max-w-xxs p-xxl transform transition ease-in-out duration-500 sMax:select-none opacity-0 translate-x-full" a:gesture-swipe a:gesture-swipe-on-success="A(this, A.AjaxSlideOver.Close)">
	<a href="javascript:void(0);" class="absolute right-m top-m" onclick="A(this, A.AjaxSlideOver.Close)" title="Dölj"><i class="fas fa-times"></i></a>
	<div class="grid grid-cols-3 gap-4 space-s">
		<div class="col-span-3">
			<img class="mMin:h-xl object-fit" src="/assets/images/about-me.jpg"/>
		</div>
		<div class="col-span-3">
			<div class="leading-normal space-y-m">
				<h2 class="text-l sMin:text-xl leading-none"></h2>
				<p>My name is Ryszard Januszkiewicz, but you can call me Richard :). I am <?=$Model->Age?> years old and currently living in Malmö, Sweden. I am fluent in Polish which is my first language as well as fluent in English. Currently working on my Swedish in spare time when it doesn't get in the way of my other goals.</p>
				<p>To quickly describe myself, i am a an open minded and motivated individual with personal goals i like to set myself to be more. Always on the lookout for new challenges that will improve my ability to do what i love and learn from fellow enthusiasts in the same craft as me.</p>
				<p>Some of the things i consider fun in spare time:</p>
				<ul class="list-disc list-inside">
					<li>Traveling</li>
					<li>Getting together with friends for a drink</li>
					<li>Food</li>
					<li>Gaming</li>
					<li>Working out</li>
					<li>Quality time with family from abroad</li>
					<li>Trying new activities like ziplining, kayaking, skydiving, and more!</li>
				</ul>
				<p>With that in mind i am also very passionate in these areas professionally:</p>
				<ul class="list-disc list-inside">
					<li>Back-end development</li>
					<li>Data modeling</li>
					<li>Perfecting UX</li>
					<li>Administrative tool development</li>
					<li>Improving the tools of my fellow workers</li>
				</ul>
			</div>
		</div>
	</div>
</div>