<?
foreach($Model->Languages as $key => $data) {
	?><section class="bg-white-100 p-m py-xl space-y-s <?=end($Model->Languages) === $key ? '' : 'hidden'?>" data-language-section-visibility-by-language="<?=strtoupper($data['Name'])?>">
		%["Controls", "<?=$key?>"]%
	</section><?
}
?>
<div class="xlMax:px-l py-l">
	<div class="grid xsMin:grid-cols-2 sMin:grid-cols-3 lMin:grid-cols-4 gap-x-l gap-y-xl">
		<?
		foreach($Model->Projects as $name => $data) {
			?>%["Controls", "Project.<?=$name?>"]%<?
		}
		?>
	</div>
</div>