<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />

		<meta http-equiv="x-ua-compatible" content="ie=edge" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="format-detection" content="telephone=no" />

		<meta name="generator" content="RJMVC" />

		<meta name="theme-color" content="#ffffff" />

		<title>Ryszard Januszkiewicz</title>

		<meta name="description" content="A full stack web developer and software development enthusiast in spare time." />

		<meta property="og:url" content="https://r-j.se" />

		<meta property="og:type" content="website" />

		<meta property="og:title" content="Ryszard Januszkiewicz" />

		<meta property="og:description" content="A full stack web developer and software development enthusiast in spare time." />

		<meta property="og:image" content="https://r-j.se/assets/images/portrait.jpg" />

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png" />

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png" />

		<link rel="manifest" href="/assets/.webmanifest" />

		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css" />

		<link href="/assets/css/main-layout.min.css" rel="stylesheet" type="text/css" />

		<link href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />

		<script src="/assets/js/januszkiewicz.min.js" type="text/javascript" defer></script>
	</head>
	<body class="xlMax:pr-0 bg-white-200 text-black leading-none">
		<div class="max-w-m mx-auto">
			%["Controls", "Header"]%
			%["Controller", "Child"]%
		</div>
	</body>
</html>