<div class="relative ml-auto bg-white-200 min-h-screen z-30 max-w-xxs p-xxl transform transition ease-in-out duration-500 sMax:select-none opacity-0 translate-x-full" a:gesture-swipe a:gesture-swipe-on-success="A(this, A.AjaxSlideOver.Close)">
	<a href="javascript:void(0);" class="absolute right-m top-m" onclick="A(this, A.AjaxSlideOver.Close)" title="Dölj"><i class="fas fa-times"></i></a>
	<div class="grid grid-cols-3 gap-4 space-s">
		<div class="col-span-3">
			<img class="select-none object-fit mMin:h-xl mx-auto" src="<?=$Model->Project['ImageUrl']?>"/>
		</div>
		<div class="col-span-3">
			<div class="space-y-m">
				<p class="text-gray"><?=implode(' / ', $Model->Project['Languages'])?></p>
				<h2 class="text-l sMin:text-xl font-bold"><?=$Model->Project['Name']?></h2>
				<p class="text-gray leading-normal"><?=$Model->Project['Description']?></p>
				<div><a href="<?=$Model->Project['WebsiteUrl']?>" class="outline-none hover:underline" target="_blank"><?=$Model->Project['WebsiteUrl']?></a></div>
			</div>
		</div>
	</div>
</div>