<header class="bg-white-100 pt-l">
	<section class="flex flex-row items-start px-m pb-l">
		<div class="flex-none h-xs sMin:h-s w-xs sMin:w-s mr-l">
			<img class="rounded-full select-none" src="/assets/images/portrait.jpg" onerror="this.src='/assets/favicon/android-chrome-192x192.png';" />
		</div>
		<div class="flex-none text-gray space-y-xs">
			<h1 class="text-l sMin:text-xl text-black font-bold">Ryszard<br/>Januszkiewicz</h1>
			<div>Web developer</div>
			<div><a href="mailto:agaciorka@ymail.com" class="outline-none hover:underline" title="agaciorka@ymail.com">agaciorka@ymail.com</a></div>
			<div><a href="javascript:void(0);" class="hover:underline" title="About me" onclick="A.AjaxSlideOver.Load({url: 'about-me'});">About me</a></div>
			<div><a href="https://bitbucket.org/Januszkiewicz/" class="outline-none transition-colors font-bold hover:text-blue" title="To my bitbucket" target="_blank"><i class="fab fa-bitbucket"></i> Bitbucket</a></div>
		</div>
	</section>
	<section class="p-m border-t border-b bg-white-100 text-gray border-white-300">
		<div class="space-x-s uppercase">
			<?
			foreach($Model->Languages as $language) {
				$name = strtoupper($language['Name']);
				?><a href="javascript:void(0);" onclick="A(this, A.SelectLanguage, {pv_value:'<?=strtoupper($name)?>'})" class="relative transition-colors hover:text-black" data-language="<?=$name?>" title="<?=$language['Name']?>"><?=$language['Name']?></a><?
			}
			?>
		</div>
	</section>
</header>