.slide {
	transition-property: margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width, opacity, height !important;
	transition-duration: 300ms;
	transition-timing-function: ease-in;
}

.slide.up {
    @apply my-0 !important py-0 !important h-0 !important border-t-0 !important border-b-0 !important overflow-hidden !important opacity-0 !important;
}

.selected {
	@apply text-black;
}

.selected::after {
	content: "";
	pointer-events: none;
	display: block;
	height: 7px;
	width: 7px;
	position: absolute;
	top: calc(100% + calc(16px - 8px));
	right: calc(50% - 6px);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom:7px solid #ececec;
	transition: border 200ms ease;
	line-height: 1;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@tailwind base;

@tailwind utilities;

@tailwind screens;