<p class="leading-normal">Very strong understanding of how elements are manipulated by CSS. Broad knowledge in selectors, transitions, keyframes, animations as well as the great flexbox and grid(CSS4) layouts also variables(CSS4). Very good knowledge of legacy layouts developed using floats and tables through previous experience allowing me to understand how to adjust them or rewrite them completely at a fast pace.</p>
<h2 class="text-l text-gray">
	<a href="https://getbootstrap.com" class="hover:underline" title="Bootstrap" target="_blank">Bootstrap</a>
</h2>
<p class="leading-normal">Intermediate knowledge in Bootstrap understanding the concept of the framework, being able to customize it through SASS to the needs of the application and minimising the need for writing new css classes outside the framework.</p>
<h2 class="text-l text-gray">
	<a href="https://tailwindcss.com" class="hover:underline" title="Tailwind" target="_blank">Tailwind</a>
</h2>
<p class="leading-normal">Basic knowledge in Tailwind, although not applied in any business projects, i have implemented it for personal development on this portfolio website.</p>
<h2 class="text-l text-gray">
	<a href="https://tailwindcss.com" class="hover:underline" title="Tailwind" target="_blank">SASS</a>
</h2>
<p class="leading-normal">Moderate knowledge in utilizing sass for extending other framework utilities, working with them or building them from scratch by utilizing its @rules and variables.</p>