<p class="leading-normal">Expert knowledge in javascript demonstrated through ability to develop own tools to a minimalist level and not have to rely on any popular framework to achieve similar results on applications developed via SRR which do not rely on reactivity provided by frameworks such as VueJs, AngularJs, or React for basic interactions.</p>
<p class="leading-normal">Although i am able to hold my own without the need of a framework i understand the need of JS frameworks in businesses. Therefore i have educated myself in <b>VueJS</b> as well as <b>AngularJS</b> having been able to develop in both frameworks during my employment at <b>Timetjek</b> for various features and even whole applications. I am also fluent in <b>Ionic Framework</b>, <b>Typescript</b> and have a clear understanding of <b>observables</b> and <b>shadow DOM</b>.</p>
<h2 class="text-l text-gray">
	<a href="https://vuejs.org/" class="hover:underline" title="Tailwind" target="_blank">VueJS</a>
</h2>
<p class="leading-normal">Intermediate knowledge in VueJS demonstrated through development of an interactive scheduling calendar, interactive statistics value sheets and implementation of various efficient and performant input wrappers, directives and transition components. Development experience also required extensive understanding of <b>Vue Router</b> in order to incorporate modern logic over legacy PHP infrastructure seemlessly to gradually modernize the system without affecting UX. The Vue implementation also involved using <b>Vuex</b>.</p>
<h2 class="text-l text-gray">
	<a href="https://vuejs.org/" class="hover:underline" title="Tailwind" target="_blank">AngularJS</a>
</h2>
<p class="leading-normal">Intermediate knowledge in AngularJS demonstrated through development of 2 applications user.timetjek.com as well as clock2.timetjek.com. Applications were develope and the JS stack also included the use of <b>Ionic</b> and <b>TypeScript</b></p>