<p class="leading-normal">Expert knowledge in understanding of the MySQL query syntax, column indexing, column datatypes and foreign keys. 5+ years of working with designing database structures broken down into wide ranges of different data models ranging from:
<ul class="list-disc list-inside leading-normal">
	<li>Sales</li>
	<li>Paid subscriptions</li>
	<li>Administration</li>
	<li>Multi admin user roles</li>
	<li>E-commerce</li>
	<li>Salary engines</li>
	<li>Search engines</li>
	<li>Scheduling & time registrations</li>
	<li>Statistics</li>
</ul>