<p class="leading-normal">The first server-side language that i've been introduced to. Through mixture of hunger for knowledge and the opportunity to work with some very talented developers who were there to offer criticisms and advice in difficult situations i've had the opportunity to truly master the language and understand the basic and more intermediate concepts of web development as well as core programming concepts, without having to go through any formal education.</p>
<p class="leading-normal">For the first 3 years i had worked within an in-house built framework with limited documentation which required me to learn how to use a framework without needing documentation.</p>
<h2 class="text-l text-gray">
	<a href="https://laravel.com" class="hover:underline" title="Laravel" target="_blank">Laravel</a>
</h2>
<p class="leading-normal">Expert knowledge in developing high-end products under the framework specified standards. Prior to working with a very closed eco-system for 3 years. Since then i've become very fluent in Laravel's eco-system including, Routing, Request, Controller, Eloquent, Blade. I have also had the chance to develop some interesting Service Providers which included managing API's such as <a href="https://www.stripe.com/" class="hover:underline font-bold">Stripe for payments</a>, <a href="https://www.sendgrid.com/" class="hover:underline font-bold">SendGrid</a> for sending emails as well as cashdesk owned by <b>ESKassasystem</b>, <b>Kassacentralen</b> and <b>Ancon</b> for generating useful statistics.</p>