
<div class="flex flex-col bg-white-100" data-project-visibility-by-language="<?=strtoupper(implode(',', $Model->Project['Languages']))?>">
	<div>
		<img class="object-cover h-m min-w-full select-none" src="<?=$Model->Project['ImageUrl']?>" onerror="this.src='/assets/images/placeholder.png';" />
	</div>
	<div class="flex flex-grow flex-col text-s space-y-s p-m">
		<p class="text-gray"><?=implode(' / ', $Model->Project['Languages'])?></p>
		<h4 class="break-all text-l"><?=$Model->Project['Name']?></h4>
		<p class="flex-grow text-gray leading-normal"><?=$Model->LeadParagraph?></p>
		<div>
			<a href="javascript:void(0);" class="hover:underline" onclick="A.AjaxSlideOver.Load({url: '<?=$Model->Url?>'});" title="Read more">Read more</a>
		</div>
	</div>
</div>